* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0 auto;
    width: 1440px;
    background-color: #000aff;
    color: white;
    overflow: scroll;
}

.section-1-monitor {
    text-align: center;
    width: 1119px;
    height: 769px;
    background-image: url(../images/1.svg);
    position: absolute;
    top: 18px;
    left: 160px;
}

.section-1 h1 {
    font-size: 130px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 295px;
    left: 425.92px;
}

.pro {
    font-size: 130px;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: italic;
    color: #ffc700;
    position: absolute;
    top: 295px;
    left: 915.92px;
}

.section-1 h2 {
    font-size: 65px;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 415px;
    left: 561.88px;
}

.section-1 h3 {
    font-size: 32px;
    font-family: 'Bebas Neue Pro Middle';
    font-weight: 500;
    font-style: normal;
    position: absolute;
    top: 489.07px;
    left: 621.87px;
}
.span3 {
    color: #FFC700;
}
.span40 {
    color: #FFC700;
}

.section-1 h6 {
    color: #ffc700;
    opacity: 50%;
    position: absolute;
    top: 705px;
    left: 163px;
    font-size: 70px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-1 h5 {
    color: #ff3d00;
    position: absolute;
    top: 670px;
    left: 1102px;
    font-size: 12.5px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-2 h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 911px;
    left: 562px;
}

.cross {
    background-image: url(../images/cross.svg);
    width: 117.05px;
    height: 23.75px;
    position: absolute;
    top: 1578px;
    left: 674px;

}

.cabel {
    background-image: url(../images/cabel.svg);
    position: absolute;
    top: 1228px;
    left: 1px;
    width: 1439px;
    height: 451.48px;
}

.grotesk {
    color: #FFC700;
        font-size: 45px;
        font-family: 'Bebas Neue Pro';
        font-weight: normal;
        font-style: normal;
        position: absolute;
        transform: rotate(-8deg);
        top: 1530px;
        left: 682px;
}

.popularity {
    color: #FFC700;
    font-style: italic;
}

.bebasneuepro {
    font-weight: bold;
}
.section-2-keyboard {
    background-image: url(../images/keyboard.svg);
    width: 957px;
    height: 418px;
    position: absolute;
    top: 1075px;
    left: 242px;
}

.section-2 h2 {
    color: #ffffff;
    font-size: 45px;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 1565px;
    left: 254px;
}


.section-3 h1 {
    color: #ffffff;
    position: absolute;
    top: 1830px;
    left: 507px;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-3-bloknot {
    background-image: url(../images/bloknot.svg);
    width: 1440px;
    height: 668px;
    position: absolute;
    top: 1900px;
    left: 0px;
}

.section-3 h2 {
    font-size: 40px;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 2113px;
    left: 570px;
}

.section-3 h3 {
    font-size: 40px;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 2073px;
    left: 185px;
    transform: rotate(10deg);
}
.section-3 h4 {
    font-size: 40px;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 2083px;
    left: 960px;
    transform: rotate(-10deg);
}
.section-3 h5 {
    position: absolute;
    top: 2338px;
    left: 1000px;
    font-size: 40px;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    transform: rotate(-10deg);
}
.span-h2 {
    color: #FF3D00;
}
.span-h3 {
    color: #FF3D00;
}
.span-h4 {
    color: #FF3D00;
}
.span-h5 {
    color: #FF3D00;
}
.span-h5-1 {
    color: #FFC700;
}
.section-4 {
    width: 1440px;
}
.section-4 h1 {
    position: absolute;
    top: 2638px;
    left: 527px;
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}
.kursor {
    background-image: url(../images/kursor.svg);
    width: 37px;
    height: 48px;
    position: absolute;
    top: 2736px;
    left: 920px;
}
.banner {
    background-image: url(../images/banner.svg);
    width: 1295.89px;
    height: 705px;
    position: absolute;
    top: 2818px;
    left: 73px;
}
.section-5 {
    width: 1440px;
}
.section-5 h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 3598px;
    left: 472px;
}
.calculator {
    background-image: url(../images/calculator.svg);
    width: 392px;
    height: 595.84px;
    position: absolute;
    top: 3808px;
    left: 173px;
}
.alphabet {
    background-image: url(../images/alphabet.svg);
    width: 572px;
    height: 568.5px;
    position: absolute;
    top: 3808px;
    left: 701px;
}
.section-6 {
    width: 1440px;
}
.section-6 h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 4498px;
    left: 287px
}
.examples {
    background-image: url(../images/examples.svg);
    width: 1366px;
    height: 969px;
    position: absolute;
    top: 4603px;
    left: 18px;
}
.section-7 {
    width: 1440px;
}
.section-7 h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 5630px;
    left: 422px
}
.phone {
    background-image: url(../images/phone.svg);
    width: 275px;
    height: 667px;
    position: absolute;
    top: 5800px;
    left: 64px;
}
.section-7 h2 {
    font-size: 70px;
    color: #ffffff;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 5880px;
    left: 380px;
}
.h2-s {
    color: #FFC700;
}
.languages {
    background-image: url(../images/languages.svg);
    width: 811px;
    height: 172px;
    position: absolute;
    top: 6090px;
    left: 380px;
}
.section-7 h3 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    left: 380px;
    top: 6340px;
}
.stars {
    background-image: url(../images/stars.svg);
    width: 309.5px;
    height: 135px;
    position: absolute;
    top: 6330px;
    left: 939px;
}
.transparent {
    background-image: url(../images/transparent.svg);
    width: 1443px;
    height: 711px;
    position: absolute;
    top: 6570px;
    left: 0px;
    z-index: 1;
}
.podval {
    background-image: url(../images/podval.svg);
    width: 1440px;
    height: 150px;
    position: absolute;
    top: 7300px;
    left: 0px;
}
.section-8 {
    width: 1440px;
}
.iphone {
    background-image: url(../images/iphone.svg);
    width: 650px;
    height: 320px;
    position: absolute;
    top: 6775px;
    left: 396px;
    z-index: 2;
}
.section-8 h1 {
    color: #FF3D00;
    font-size: 80px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 6890px;
    left: 616px;
    z-index: 3;
}
.byespan {
    color: #000aff;
}