* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0 auto;
    width: 1440px;
    background-color: #000aff;
    color: white;
    overflow: auto;
}

.section-1 {
    width: 1440px;
}

.section-1-monitor {
    text-align: center;
    width: 1119px;
    height: 769px;
    background-image: url(../images/1.svg);
    margin: 18px auto;
    padding-top: 285px;
}

.section-1 h1 {
    font-size: 130px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-1 h1 span {
    color: #ffc700;
    font-style: italic;
    margin-left: 25px;
}

.section-1 h2 {
    font-size: 65px;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
    margin-top: 20px;
}

.section-1 h3 {
    font-size: 32px;
    font-family: 'Bebas Neue Pro Middle';
    font-weight: 500;
    font-style: normal;
    margin-top: 0px;
}

.section-1 h6 {
    color: #ffc700;
    opacity: 50%;
    position: absolute;
    top: 698px;
    left: 150px;
    font-size: 70px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-1 h5 {
    color: #ff3d00;
    position: absolute;
    top: 668.5px;
    left: 1087.5px;
    font-size: 12.5px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-2 h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 124px;
}

.keyboard-kabel {
    width: 1440px;
    height: 720px;
    display: flex;
    margin: 0 auto;
}

.kabel-left {
    padding-top: 400px;
}

.kabel-left img {
    width: 189.13px;
    height: 40.48px;
}

.kabel-right img {
    width: 184px;
    height: 40.48px;
}

.section-2-keyboard {
    background-image: url(../images/keyboard.svg);
    width: 957px;
    height: 418px;
}

/* .section-2-cabels {
  background-image: url(../images/cabels.svg);

  width: 1440px;
  height: 451.5px;
} */
.section-2 h2 {
    color: #ffffff;
    font-size: 45px;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
}

.section-3 h1 {
    color: #ffffff;
    position: absolute;
    top: 1912px;
    left: 507px;
    font-size: 100px;
    font-family: 'Bebas Neue Pro';
    font-weight: bold;
    font-style: normal;
}

.section-3-bloknot {
    background-image: url(../images/bloknot.svg);
    position: absolute;
    width: 1440px;
    height: 668px;
    top: 1969px;
}

.section-3 h2 {
    font-size: 40px;
    top: 2180px;
    left: 583px;
    right: 559px;
    position: absolute;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
}

.section-3 h3 {
    transform: rotate(10deg);
    font-size: 40px;
    top: 2154px;
    left: 224px;
    right: 980px;
    position: absolute;
    color: black;
    font-family: 'Bebas Neue Pro';
    font-weight: normal;
    font-style: normal;
}